<div class="container">
  <div class="row">
    <h1 class="display-6">Update Info</h1>
    <hr class="mb-5" />
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="First Name"
          value="{{ currEmployee.firstName }}"
          #firstName
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Last Name"
          value="{{ currEmployee.lastName }}"
          #lastName
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          placeholder="First Name"
          value="{{ currEmployee.city }}"
          #city
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="district">District</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="district"
          value="{{ currEmployee.district }}"
          #district
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="state">state</label>
        <input
          type="text"
          class="form-control"
          id="state"
          placeholder="state"
          value="{{ currEmployee.state }}"
          #state
        />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="gender">Gender</label>
        <input
          type="text"
          class="form-control"
          id="gender"
          placeholder="Gender"
          value="{{ currEmployee.gender }}"
          #gender
        />
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-2 btn-sm"
    (click)="
      addEmployee(
        firstName.value,
        lastName.value,
        city.value,
        district.value,
        state.value,
        gender.value
      )
    "
  >
    Update
  </button>
</div>
