<div class="container">
    <div class="row">
        <h1 class="display-6">Details</h1>
        <hr class="mb-5">
    </div>
    <div class="row">
        <ul class="list-group">
            <li 
                class="list-group-item"
                >{{employee.firstName}} {{employee.lastName}}
            </li>
            <li 
                class="list-group-item"
                >{{employee.city}}
            </li>
            <li 
                class="list-group-item"
                >{{employee.district}}
            </li>
            <li 
                class="list-group-item"
                >{{employee.state}} 
            </li>
            <li 
                class="list-group-item"
                >{{employee.gender}} 
            </li>
          </ul>
    </div>
</div>